.footer__container {
  padding-top: 64px;
  padding-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 88px;
  }
}

@media screen and (min-width: 1024px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 92px;
  }
}

.footer__links {
  list-style: none;
  padding: 0;
  margin:0 0 86px 0;
}

@media screen and (min-width: 768px) {
  .footer__links {
    display: flex;
    margin: 0;
  }
}

.footer__link {
  font-size: 24px;
  line-height: 1;
  color: inherit;
  text-decoration: none;
  transition: .2s ease-in;
}

@media screen and (min-width: 768px) {
  .footer__link {
    font-size: 16px;
    line-height: 1.12;
  }
}

.footer__link:hover {
  opacity: .8;
}

.footer__item {
  margin-bottom: 32px;
}

.footer__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .footer__item {
    margin: 0 18px 0 0;
  }
}

.footer__copyright {
  font-size: 14px;
  line-height: 1;
  margin: 0 0 24px 0;
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    line-height: 1.16;
    margin: 0;
  }
}