.footer__container {
  padding-top: 64px;
  padding-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 88px;
  }
}

@media screen and (min-width: 1024px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 92px;
  }
}