.cover__title {
  max-width: 560px;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
  color: inherit;
  text-align: center;
  margin: 0 0 16px 0;
}

@media screen and (min-width: 600px) {
  .cover__title {
    font-size: 72px;
    line-height: 1.06;
    margin: 0 0 32px 0;
  }
}